.SP{
    color:white;
    font-family: 'Anton', sans-serif;
    background-color: black;
}
.sp_h1{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 5vh;
}
.sp_h2{
    font-size: 10vw;
}
.sp_cards{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.sp_listItem{
    margin-left: 5%;
    font-family: 'Questrial', sans-serif;
    cursor: pointer;
}
.on_sp_listItem{
    margin-left: 5%;
    font-family: 'Questrial', sans-serif;
    cursor: pointer;
}
.on_sp_listItem button{
    border: 0;
    font-size: 1.5vw;
    background: transparent;
    color: white;
}
.sp_listItem button{
    border: 0;
    font-size: 1.5vw;
    background: transparent;
    color: gray;
}
.sp_listItem button:hover{
    color: white;
}
.sp_heading{
    padding-top: 15px;
    margin-left: 15%;
    font-size: 5vh;
    text-align: left;
}
.sp_content .sp_list{
    display: flex;
    list-style-type: none;
}